<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towery.securitylearn.mapper.SysRoleMapper">
    <resultMap id="rolemapper" type="com.towery.securitylearn.entity.SysRole">
        <id column="id" property="id"/>
        <result column="rolename" property="rolename"/>
        <result column="rolememo" property="rolememo"/>
    </resultMap>
    <select id="selectRoleByUser">
        select r.id, r.rolename, r.rolememo
        from sys_user_role ur,
             sys_role r
        where ur.roleid = r.id
          and ur.userid = #{userid}
    </select>
</mapper>
